<div class="modal-content" <%= (App.rtl ? 'style="direction:rtl"' : '') %>>
    <form <%= (App.rtl ? 'style="direction:rtl"' : '') %> >
        <div class="row">
            <div class="input-field col s12 m4">
                <select id="product-line">
                    <% _.each(productLines, function(productLine) { %>
                        <option value="<%= productLine.id %>" <%= items.productLineId == productLine.id ? 'selected' : '' %>><%= productLine.description %></option>
                    <% }); %>
                </select>
                <label>{Literal}Product Lines{/Literal}</label>
            </div>
            
            <div class="input-field col s12 m4">
                <input id="description" placeholder="Enter item description" type="text" class="validate" value="<%= items.description %>">
                <label class="active" for="description">{Literal}Item Description{/Literal}</label>
                <span class="helper-text" data-error="This field can't be empty or contain special characters" data-success=""></span>
            </div>

            <div class="input-field col s12 m4" style="display: none;">
                <input id="id" type="text" class="validate" value="<%= items.id %>">
            </div>

            
            <div class="input-field col s12 m4">
                <input id="itemCode" type="text" class="validate" value="<%= items.itemCode %>">
                <label class="active" for="itemCode">{Literal}Item Code{/Literal}</label>
                <span class="helper-text" data-error="This field can't be empty or contain special characters" data-success=""></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="price" type="text" class="validate" value="<%= items.price %>">
                <label class="active" for="price">{Literal}Price{/Literal}</label>
                <span class="helper-text" data-error="This field can't be empty or contain special characters" data-success=""></span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <a href="#delete-items-modal" class="waves-effect waves-light btn red left modal-trigger delete-button">{Literal}Delete{/Literal}</a>
    <a href="javascript:void(0)" class="waves-effect waves-green btn green right save-button">{Literal}Save{/Literal}</a>
    <a href="javascript:void(0)" class="modal-close waves-effect waves-light right btn-flat">{Literal}Cancel{/Literal}</a>
</div>


<div id="delete-items-modal" class="modal">
    <div class="modal-content">
        <h4>{Literal}Confirm Deletion{/Literal}</h4>
        <%if(App.rtl) {%>
            <h6>האם אתה בטוח שברצונך להסיר פריט זה?</h6>
        <%}%>
        <%if(App.rtl != true){%>
            <h6>Are you sure that you would like to remove this item?</h6>
        <%}%>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-close waves-effect waves-light btn-flat">Cancel</a>
        <a href="javascript:void(0)" id="delete-items-confirm" class="modal-close waves-effect waves-green btn red" data-items-id="<%= items.id %>">Delete</a>
        <input type="hidden" id="delete-items-id" />
    </div>
</div>