<div class="modal-content" style="direction:rtl;" >
    <h4 style="font-size: 1.2rem">{Literal}Add POS User{/Literal}</h4>
    <div id="pos-user-form-content" >
        <form>
            <div class="row">
                <div class="input-field col s12 m4" style="display: none;">
                    <input id="userGroup" type="text"  value="<%= posUser.userGroup %>">
                </div>

                <div class="input-field col s12 m4" style="display: none;">
                    <input id="id" type="text"  value="<%= posUser.id %>">
                </div>

                <div class="input-field col s12 m4">
                    <input id="username" placeholder="Enter user name" type="text" class="validate" value="<%= posUser.name %>" required="" aria-required="true" >
                    <label class="active" for="username">{Literal}User name{/Literal}</label>
                    <span class="helper-text" data-error="This field can't be empty or contain special characters" data-success=""></span>
                </div>

                <div class="input-field col s12 m4">
                    <input id="password-reset" type="password" class="validate">
                    <label for="password-reset">{Literal}Set Password{/Literal}</label>
                    <span class="helper-text" data-error="This field cannot contain special characters or be blank" data-success=""></span>
                </div>

                <div class="input-field col s12 m4" >
                        <select id="auto-till-form-dropdown" style="overflow-y: auto !important;">
                            <option value="100" <%= (posUser.till == '100' ? 'selected' : '') %>>{Literal}100{/Literal}</option>
                            <option value="100 Only" <%= (posUser.till == '100 Only' ? 'selected' : '') %>>{Literal}100 Only{/Literal}</option>
                            <option value="200" <%= (posUser.till == '200' ? 'selected' : '') %>>{Literal}200{/Literal}</option>
                            <option value="200 Only" <%= (posUser.till == '200 Only' ? 'selected' : '') %>>{Literal}200 Only{/Literal}</option>
                            <option value="300" <%= (posUser.till == '300' ? 'selected' : '') %>>{Literal}300{/Literal}</option>
                            <option value="300 Only" <%= (posUser.till == '300 Only' ? 'selected' : '') %>>{Literal}300 Only{/Literal}</option>
                            <option value="400" <%= (posUser.till == '400' ? 'selected' : '') %>>{Literal}400{/Literal}</option>
                            <option value="400 Only" <%= (posUser.till == '400 Only' ? 'selected' : '') %>>{Literal}400 Only{/Literal}</option>
                            <option value="500" <%= (posUser.till == '500' ? 'selected' : '') %>>{Literal}500{/Literal}</option>
                            <option value="500 Only" <%= (posUser.till == '500 Only' ? 'selected' : '') %>>{Literal}500 Only{/Literal}</option>
                            <option value="600" <%= (posUser.till == '600' ? 'selected' : '') %>>{Literal}600{/Literal}</option>
                            <option value="600 Only" <%= (posUser.till == '600 Only' ? 'selected' : '') %>>{Literal}600 Only{/Literal}</option>
                            <option value="Master" <%= (posUser.till == 'Master' ? 'selected' : '') %>>{Literal}Master{/Literal}</option>
                            <option value="Master Only" <%= (posUser.till == 'Master Only' ? 'selected' : '') %>>{Literal}Master Only{/Literal}</option>
                        </select>
                    <label>{Literal}Auto Till{/Literal}</label>
                    <span class="helper-text" data-error="This drop-down is mandatory" data-success=""></span>
                </div>

                <div class="col s6 m4" style="margin-top:20px;">
                    <p>
                        <label>
                            <input id="server" type="checkbox" <%= posUser.isServer ? 'checked' : '' %> class="filled-in" />
                            <span>{Literal}User is a Server{/Literal}</span>
                        </label>
                    </p>
                </div>
 
                <div class="col s6 m4" style="margin-top:20px;">
                    <p>
                        <label>
                            <input id="driver" type="checkbox" <%= posUser.isDriver ? 'checked' : '' %> class="filled-in" />
                            <span>{Literal}User is a Delivery Driver{/Literal}</span>
                        </label>
                    </p>
                </div>

                <div class="input-field col s12 m4">
                    <select id="idle-timeout-form-dropdown">
                        <option value="0" <%= (posUser.idleTimeout == '0' ? 'selected' : '') %>>{Literal}Never{/Literal}</option>
                        <option value="5" <%= (posUser.idleTimeout == '5' ? 'selected' : '') %>>{Literal}5 Seconds{/Literal}</option>
                        <option value="10" <%= (posUser.idleTimeout == '10' ? 'selected' : '') %>>{Literal}10 Seconds{/Literal}</option>
                        <option value="30" <%= (posUser.idleTimeout == '30' ? 'selected' : '') %>>{Literal}30 Seconds{/Literal}</option>
                        <option value="60" <%= (posUser.idleTimeout == '60' ? 'selected' : '') %>>{Literal}1 Minute{/Literal}</option>
                        <option value="120" <%= (posUser.idleTimeout == '120' ? 'selected' : '') %>>{Literal}2 Minutes{/Literal}</option>
                    </select>
                    <label>{Literal}Idle Timeout{/Literal}</label>
                    <span class="helper-text" data-error="This drop-down is mandatory" data-success=""></span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a href="#delete-pos-user-modal" class="waves-effect waves-light btn red left modal-trigger delete-button">{Literal}DELETE{/Literal}</a>
    <a href="javascript:void(0)" class="waves-effect waves-green btn green right save-button">{Literal}Save{/Literal}</a>
    <a href="javascript:void(0)" class="modal-close waves-effect waves-light right btn-flat">{Literal}CANCEL{/Literal}</a>
</div>

<div id="delete-pos-user-modal" class="modal">
    <div class="modal-content">
        <h4>{Literal}Confirm Deletion{/Literal}</h4>
        <p>{Literal}Are you sure that you would like to remove this POS User{/Literal}?</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-close waves-effect waves-light btn-flat">{Literal}CANCEL{/Literal}</a>
        <a href="javascript:void(0)" id="delete-pos-user-confirm" class="waves-effect waves-green btn red" data-pos-user-id="<%= posUser.id %>">{Literal}Delete{/Literal}</a>
        <input type="hidden" id="delete-pos-user-id" />
    </div>
</div>